@model IEnumerable<OrderModel>
<div class="container">
    <div class="col-md-12 section-t8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Your Orders</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatables"
                    class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>OrderId</th>
                                <th>Price</th>
                                <th>ShippingAddress</th>
                                <th>PaymentMode</th>
                                <th>OrderDate</th>
                                <th>UserName</th>
                            </tr>
                        </thead>
                        @foreach(var data in ViewBag.Orders)
                        {
                            <tbody>
                                <tr>
                                    <td>@data.OrderId</td>
                                    <td>@data.Price</td>
                                    <td>@data.ShippingAddress</td>
                                    <td>@data.PaymentMode</td>
                                    <td>@data.OrderDate</td>
                                    <td>@data.UserName</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>