<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@ViewBag.Product.ProductName</h1>
                    <span class="color-text-a" id="ptype">@ViewBag.Product.ProductType</span>
                    <input type="hidden" id="ProductId" value="@ViewBag.Product.ProductId" />
                </div>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->
<!-- ======= Property Single ======= -->
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="property-single-carousel">
                    <div class="swiper-wrapper">
                        <div class="carousel-item-b">
                            <img src="~/img/@ViewBag.Product.ImageUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="bi bi-cash">Rs</span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h5 class="title-c">@ViewBag.Product.Price</h5>
                                </div>
                            </div>
                        </div>
                        <div class="property-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4">
                                        <h3 class="title-d">Specification</h3>
                                    </div>
                                </div>
                            </div>
                            @if (ViewBag.Product.ProductType == "TV")
                            {
                                <div class="summary-list">
                                    <ul class="list">
                                        <li class="d-flex justify-content-between">
                                            <strong>ModelNumber:</strong>
                                            <span id="dataModel"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Brand:</strong>
                                            <span id="dataBrand"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Sizes:</strong>
                                            <span id="dataSizes"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Resolution:</strong>
                                            <span id="dataResolution"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>HDTechnology:</strong>
                                            <span id="dataHDTechnology"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>RefreshRate:</strong>
                                            <span id="dataRefreshRate"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>SoundTechnology:</strong>
                                            <span id="dataSoundTechnology"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Warranty:</strong>
                                            <span id="dataWar"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>StarRating:</strong>
                                            <span id="dataStar"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Brochure:</strong>
                                            <a id="dataBro" href="" target="_blank">BrochurePDF</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else if (ViewBag.Product.ProductType == "AC")
                            {
                                <div class="summary-list">
                                    <ul class="list">
                                        <li class="d-flex justify-content-between">
                                            <strong>ModelNumber:</strong>
                                            <span id="dataModel"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Brand:</strong>
                                            <span id="dataBrand"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Capacity:</strong>
                                            <span id="dataCap"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Refrigerant:</strong>
                                            <span id="dataRef"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Voltage:</strong>
                                            <span id="dataVol">
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Color:</strong>
                                            <span id="dataCol"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Warranty:</strong>
                                            <span id="dataWar"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>StarRating:</strong>
                                            <span id="dataStar"></span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Brochure:</strong>
                                            <a id="dataBro" href="" target="_blank">BrochurePDF</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Property Description</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p class="description color-text-a">
                                @ViewBag.Product.Description
                            </p>
                        </div>
                        <div class="row section-t3">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Buying</h3>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-list color-text-a">
                            <ul class="list-a no-margin">
                                @if (ViewBag.Product.StockQuantity == 0)
                                {
                                    <li><strong class="text-danger">Out of Stock</strong></li>
                                }
                                else
                                {
                                    <li><strong class="text-success">InStock</strong></li>
                                }
                            </ul>
                            <div class="col-12">
                                <form asp-controller="Order" asp-action="Checkout" method="post">
                                    <input type="hidden" name="id" value="@ViewBag.Product.ProductId" />
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <input type="number" class="form-control form-select-sm form-control-a" name="Quantity" min="1" value="1" max="@ViewBag.Product.StockQuantity" placeholder="Quantity" />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-a">Buy Now</button>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Property Single-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(()=>{
        fetchSpecification();
    });
        function fetchSpecification(){
        let pid = $("#ProductId").val();
        let ptype = document.getElementById("ptype").innerText;
        if(ptype == "AC"){
            $.ajax({
            type:"GET",
            url:`/GetSpecificationAC/${pid}`,
            success:function(data){
                console.log(data);
                document.getElementById("dataModel").innerText = data.modelNumber;
                document.getElementById("dataBrand").innerText = data.brand;
                document.getElementById("dataCap").innerText = data.capacity + " Ton";
                document.getElementById("dataRef").innerText = data.refrigerant;
                document.getElementById("dataVol").innerText = data.voltage;
                document.getElementById("dataCol").innerText = data.color;
                document.getElementById("dataWar").innerText = data.warranty + " Year";
                document.getElementById("dataStar").innerText = data.starRating + " Star";
                document.getElementById("dataBro").href = "https://localhost:44331/"+ data.brochureUrl;
            }
        });
        }
        else if(value=="TV"){
            $.ajax({
            type:"GET",
            url:`/GetSpecificationTV/${pid}`,
            success:function(data){
                document.getElementById("dataModel").innerText = data.modelNumber;
                document.getElementById("dataBrand").innerText = data.brand;
                document.getElementById("dataSizes").innerText = data.sizes + " Inch";
                document.getElementById("dataResolution").innerText = data.resolution;
                document.getElementById("dataHDTechnology").innerText = data.hDtechnology;
                document.getElementById("dataRefreshRate").innerText = data.refreshRate + " Hz";
                document.getElementById("dataSoundTechnology").innerText = data.soundTechnology;
                document.getElementById("dataWar").innerText = data.warranty + " Year";
                document.getElementById("dataStar").innerText = data.starRating + " Star";
                document.getElementById("dataBro").href = "https://localhost:44331/"+ data.brochureUrl;

            }
        });
        }
    }
</script>