@using ES_FrontEnd.Areas.Admin.Models
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OrderModel
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Insert Bill</h5>

        <!-- General Form Elements -->
        <form asp-area="Admin" asp-controller="OrderDetails" asp-action="Save" method="post">
            <div class="row mb-3">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" asp-for="OrderId">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Quantity</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Quantity</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="ShippingAddress">
                    <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Amount </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="PaymentMode">
                    <span asp-validation-for="PaymentMode" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Select User</label>
                <div class="col-sm-10">
                    <select id="UserId"
                            name="UserId"
                            class="form-select form-control"
                            asp-for="UserId">
                        <option value="">Select User</option>
                        @if (ViewBag.UserList != null)
                        {
                            @foreach (var user in ViewBag.UserList)
                            {
                                if (user.StateID == Model.UserId)
                                {
                                    <option value="@user.UserId">@user.UserName</option>
                                }
                                else
                                {
                                    <option value="@user.UserId">@user.UserName</option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Save Record</label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form><!-- End General Form Elements -->

    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        console.log("load")
        $.ajax({
            url: "/UserDropDown",
            type: "GET",
            success: function (data) {
                console.log(data)
                $("#UserId")
                    .empty()
                    .append('<option value="">Select User</option>');
                $.each(data, function (i, user) {
                    $("#UserId").append(
                        '<option value="' +
                        user.userid +
                        '">' +
                        user.userName +
                        "</option>"
                    );
                });
                console.log(state.UserId);
            },
        });
    });
</script>

@if (TempData["message"] != null)
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(()=>{
            swal("@TempData["message"]", {
              buttons: {
                confirm: {
                  className: "btn btn-success",
                },
              },
            });
        })
    </script>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}