@using ES_FrontEnd.Areas.Admin.Models
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductModel
<!-- Template Main CSS File -->
<link href="~/css/style.css" rel="stylesheet">

@if(Model.ProductId != null)
{
    <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
            <h1 class="title-single">@Model.ProductName</h1>
            <span class="color-text-a" id="ptype">@Model.ProductType</span>
            <input type="hidden" id="ProductId" value="@Model.ProductId" />
        </div>
    </div>
    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="row justify-content-center">
                        <img src="~/img/@Model.ImageUrl" style="height:40em" alt="" >
                    <div class="property-single-carousel-pagination carousel-pagination"></div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row justify-content-between">
                        <div class="col-md-5 col-lg-4">
                            <div class="property-price d-flex justify-content-center foo">
                                <div class="card-header-c d-flex">
                                    <div class="card-box-ico">
                                        <span class="bi bi-cash">Rs</span>
                                    </div>
                                    <div class="card-title-c align-self-center">
                                        <h5 class="title-c">@Model.Price</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="property-summary">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d section-t4">
                                            <h3 class="title-d">Specification</h3>
                                            
                                        </div>
                                    </div>
                                </div>
                                @if(Model.ProductType=="TV")
                                {
                                    <div class="summary-list">
                                        <ul class="list">
                                            <li class="d-flex justify-content-between">
                                                <strong>ModelNumber:</strong>
                                                <span id="dataModel"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Brand:</strong>
                                                <span id="dataBrand"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Sizes:</strong>
                                                <span id="dataSizes"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Resolution:</strong>
                                                <span id="dataResolution"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>HDTechnology:</strong>
                                                <span id="dataHDTechnology"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>RefreshRate:</strong>
                                                <span id="dataRefreshRate"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>SoundTechnology:</strong>
                                                <span id="dataSoundTechnology"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Warranty:</strong>
                                                <span id="dataWar"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>StarRating:</strong>
                                                <span id="dataStar"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Brochure:</strong>
                                                <a id="dataBro" href="" target="_blank">BrochurePDF</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                else if(Model.ProductType=="AC")
                                {
                                    <div class="summary-list">
                                        <ul class="list">
                                            <li class="d-flex justify-content-between">
                                                <strong>ModelNumber:</strong>
                                                <span id="dataModel"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Brand:</strong>
                                                <span id="dataBrand"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Capacity:</strong>
                                                <span id="dataCap"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Refrigerant:</strong>
                                                <span id="dataRef"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Voltage:</strong>
                                                <span id="dataVol">
                                                </span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Color:</strong>
                                                <span id="dataCol"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Warranty:</strong>
                                                <span id="dataWar"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>StarRating:</strong>
                                                <span id="dataStar"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Brochure:</strong>
                                                <a id="dataBro" href="" target="_blank">BrochurePDF</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Property Description</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                <p class="description color-text-a">
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-sm-12">
                <button class="btn btn-success" id="btntoggle" onclick="toggleView()">Change Specification</button>
                <div id="add-form">
                    <form asp-action="AddSpecification" enctype="multipart/form-data" asp-controller="Specification" asp-area="Admin" method="post">
                            <input type="hidden" name="ProductId" value="@Model.ProductId" />
                        <input type="hidden" name="type" value="@Model.ProductType" />
                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">ModelNumber</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="ModelNumber" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Brand</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Brand" required>
                            </div>
                        </div>
                    <div id="TV">
                        <partial name="_TVview" />
                    </div>
                    <div id="AC">
                        <partial name="_ACview" />
                    </div>
                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Warranty</label>
                            <div class="col-sm-10">
                                <select class="form-control form-select form-control-a" name="Warranty">
                                    <option value="none">Select Warranty</option>
                                    <option value="1">1 Year</option>
                                    <option value="2">2 Year</option>
                                    <option value="3">3 Year</option>
                                    <option value="4">4 Year</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">StarRating</label>
                            <div class="col-sm-10">
                                <select class="form-control form-select form-control-a" name="StarRating">
                                    <option value="none">Select Star Rating</option>
                                    <option value="1">1 Star</option>
                                    <option value="2">2 Star</option>
                                    <option value="3">3 Star</option>
                                    <option value="4">4 Star</option>
                                    <option value="5">5 Star</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">BrochureUrl</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" name="BUrl" required>
                            </div>
                        </div>
                        <button class="btn btn-success" id="btnsave" type="submit">Save Specification</button>
                </form>
                </div>
            </div>
        </div>
    </section>
}
else{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(()=>{
            swal("@TempData["message"]", {
              buttons: {
                confirm: {
                  className: "btn btn-success",
                },
              },
            });
        })
    </script>
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(()=>{
        $("#add-form").hide();
        $("#TV").hide();
        $("#AC").hide();
        $("#btnsave").hide();
        fetchSpecification();
    });
    function toggleView(){
        var btntoggle = document.getElementById("btntoggle");

        if(btntoggle.innerText == "Change Specification"){
            btntoggle.innerText = "Cancel";
            btntoggle.classList.add("btn-danger");
            btntoggle.classList.remove("btn-success");

            var value = document.getElementById("ptype").innerText;
            if(value=="TV"){
                $("#add-form").show();
                $("#TV").show();
                $("#btnsave").show();
            }
            else if(value=="AC"){
                $("#add-form").show();
                $("#AC").show();
                $("#btnsave").show();
            }
        }
        else{
            btntoggle.innerText = "Change Specification";
            btntoggle.classList.add("btn-success");
            btntoggle.classList.remove("btn-danger");
            $("#TV").hide();
            $("#AC").hide();
            $("#btnsave").hide();
            $("#add-form").hide();
        }
    }
    function fetchSpecification(){
        let pid = $("#ProductId").val();
        let ptype = document.getElementById("ptype").innerText;

        if(ptype == "AC"){
            $.ajax({
            type:"GET",
            url:`/GetSpecificationAC/${pid}`,
            success:function(data){
                console.log(data);
                document.getElementById("dataModel").innerText = data.modelNumber;
                document.getElementById("dataBrand").innerText = data.brand;
                document.getElementById("dataCap").innerText = data.capacity + " Ton";
                document.getElementById("dataRef").innerText = data.refrigerant;
                document.getElementById("dataVol").innerText = data.voltage;
                document.getElementById("dataCol").innerText = data.color;
                document.getElementById("dataWar").innerText = data.warranty + " Year";
                document.getElementById("dataStar").innerText = data.starRating + " Star";
                document.getElementById("dataBro").href = "https://localhost:44331/"+ data.brochureUrl;
            }
        });
        }
        else if(value=="TV"){
            $.ajax({
            type:"GET",
            url:`/GetSpecificationTV/${pid}`,
            success:function(data){
                document.getElementById("dataModel").innerText = data.modelNumber;
                document.getElementById("dataBrand").innerText = data.brand;
                document.getElementById("dataSizes").innerText = data.sizes + " Inch";
                document.getElementById("dataResolution").innerText = data.resolution;
                document.getElementById("dataHDTechnology").innerText = data.hDtechnology;
                document.getElementById("dataRefreshRate").innerText = data.refreshRate + " Hz";
                document.getElementById("dataSoundTechnology").innerText = data.soundTechnology;
                document.getElementById("dataWar").innerText = data.warranty + " Year";
                document.getElementById("dataStar").innerText = data.starRating + " Star";
                document.getElementById("dataBro").href = "https://localhost:44331/"+ data.brochureUrl;

            }
        });
        }
    }
</script>
